body {
    font-family: Arial, sans-serif;
    background-color: lightslategrey;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
}

section {
  vertical-align: top;
}

aside {
  margin-right: 15px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

.ingredients-list {
    list-style: square inside;
}

.ingredients-list li {
  margin: 15px 0;
}

ol {
    list-style: lower-alpha;
}

header > img {
  float: left;
  width: 100px;
}

nav {
  float: right;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

nav > ul > li > a {
    color: inherit;
    text-decoration: none;
}

input[type="radio"], input[type="submit"], input[type="select"]{
  cursor: pointer;
  outline: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  background-image: url(./assets/stars.png);
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}

input[type="submit"]:hover {
  -webkit-filter: brightness(80%);
}

input:last-child {
  background-color: gold;
}

ol li:nth-of-type(2n) {
  background-color: lightgrey;
}

h2 + .user-reviews {
  border-top: 1px solid black;
}

nav li {
  display: inline-block;
  padding: 20px;
}

ol li {
  margin: 15px 0;
}
label {
  display: block;
}

#review-form select {
  margin: 10px 0;
}

#review-form input[type="text"], select, textarea {
  width: 220px;
}

#review-form input[type="submit"] {
  margin: 10px 0;
}

footer {
  float: left;
}
