<h1>Edit Band</h1>

<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">

  <label for="name">Band Name</label>
  <input id="name" type="text" name="band[name]" value="<%= @band[:name] %>">


  <br>

  <input type="submit" value="Edit Band">
  <%= button_to "Cancel", band_url(@band), method: :get %>
</form>
