<h1>All Bands</h1>

<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Artist</th>
  </tr>

    <% @bands.each do |band| %>
      <tr>
        <td><%= link_to band.name, band_url(band.id), method: :get %></td>
        <td><%= link_to "Edit", edit_band_url(band.id), method: :get %></td>
        <td><%= link_to "Delete", band_url(band.id), method: :delete %></td>
      </tr>
    <% end %>

</table>
<br>
<%= link_to "Add Band", new_band_url, method: :get %>
<br>
