<section class="masthead">
  <ul class="language-nav">
    <a href="#">CSS</a>
    <a href="#">HTML</a>
    <a href="#">Javascript</a>
    <a href="#">Ruby</a>
  </ul>

  <img src="assets/AA_Times_Logo.png" class="logo">

  <ul class="masthead-links">
    <li>
      <time>Tuesday, October 18, 2016</time>
    </li>
    <li>
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      <a href="#">Today’s Paper</a>
    </li>
    <li>
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      <a href="#">Video</a>
    </li>
    <li>
      <button>77°F</button>
    </li>
    <li>
      <button>AAO <strong>+100%</strong></button>
    </li>
  </ul>
</section>
